<div class="nwis-data-select">
	<ul class="data-view-info">
		<li><b>{{name}}</b></li>
		<li><b>Station ID:&nbsp;</b>{{siteNo}}</li>
		<li><b>Distance to project location:&nbsp;</b>{{distance}} miles</li>
	</ul>
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>Property</th>
				<th>Start Date</th>
				<th>End Date</th>
			</tr>
		</thead>
		<tbody>
			{{#each parameters}}
				<tr>
					<td><input type="checkbox" {{#if selected}}checked{{/if}} id="toggle-param{{@index}}" /></td>
					<td>{{name}}</td>
					<td>{{startDate}}</td>
					<td>{{endDate}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>