<div class="precip-data-select">
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>y:x</th>
				<th>Latitude</th>
				<th>Longitude</th>
				<th>Start Date</th>
				<th>End Date</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><input type="checkbox" {{#if selected}}checked{{/if}} /></td>
				<td>{{y}}:{{x}}</td>
				<td>{{lat}}</td>
				<td>{{lon}}</td>
				<td>{{startDate}}</td>
				<td>{{endDate}}</td>
			</tr>
		</tbody>
	</table>
</div>