<div class="time-series-popover-content">
	{{#each timeSeriesOptions}}
		<div class="form-inline ts-option-div">
			<div class="form-group ts-option-stat-type-div" id="ts-option-{{statName}}-div">
				<label>
					<input type="checkbox" class="stat-type-checkbox" value="{{statName}}" {{#if checked}}checked{{/if}} />
					{{statTitle}}
				</label>
			</div>
			{{#if timeSpanRequired}}
				<div class="form-group ts-option-time-span">
					<input class="form-control time-span-input" min="1" max="9999" type="number" size="4" value="{{timeSpan}}"  />
					Hours
				</div>
			{{/if}}
		</div>
	{{/each}}
	<button class="btn btn-primary update-time-series" data-id="{{variableModelId}}" type="button">Update</button>
</div>