<tr>
	<td><button title="Remove from processing"><i class="fa fa-times"></i></button></td>
	<td>{{dataset}}</td>
	<td>{{siteId}}</td>
	<td>{{startDate}}</td>
	<td>{{endDate}}</td>
	<td>{{property}}</td>
</tr>