<div class="variable-kind-popup-container dataset-{{datasetKind}}-popup">
	<ul class="popup-variable-info-list">
		<li><b>Site ID:&nbsp;</b>{{siteNo}}</li>
		<li><label>{{variableName}}:&nbsp;
			<input data-siteid="{{siteId}}" data-variableid="{{variableId}}" type="checkbox" {{#if selected}}checked{{/if}} />
		</label></li>
	</ul>
</div>